<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>핀디</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/nav.css">
</head>

<body>
<div th:replace="~{nav::nav}"></div>
    <main>
        <section class="hero">
            <div class="hero-text">
                <h1>대학생들을 위한 스마트 정보 공유 시스템!</h1>
                <p class="subtitle">🔍 학교 정보 찾기, 더 이상 번거롭지 않아요!</p>
                <p class="subtitle">핑프들을 위한 저희 맞춤형 핀디 사이트를 소개합니다.</p>

                <ul class="feature-list">
                    <li>간편한 프로필 작성 – 생활 스타일, 취미, 학습 습관 입력</li>
                    <li>스마트 룸메이트 매칭 알고리즘 – 최적의 룸메이트 추천</li>
                    <li>실시간 정보 알리미 챗봇 지원 – 궁금한 점을 알리미에게 알려보세요!</li>
                    <li>학점 계산 기능 – 남은 학점을 한 눈에 볼 수 있는 기능 지원</li>
                </ul>
            </div>
            <div class="hero-image">
                <img src="/image/people-studying-remotely-e-learning-home-education-distance-learning-online-college.png" alt="핀디 이미지">
            </div>
        </section>


        <div class="content-grid">
            <div class="grid-section">
                <h2>Q&A</h2>
                <ul>
                    <li>작성글 1 입니다.</li>
                    <li>작성글 2 입니다.</li>
                    <li>작성글 3 입니다.</li>
                    <li>작성글 4 입니다.</li>
                </ul>
            </div>
            <div class="grid-section">
                <h2>정보 알리미</h2>
                <ul class="info-list">
                    <li>작성글 1 입니다.</li>
                    <li>작성글 2 입니다.</li>
                    <li>작성글 3 입니다.</li>
                    <li>작성글 4 입니다.</li>
                </ul>
            </div>
            <div class="grid-section">
                <h2>룸메이트 찾기</h2>
                <ul>
                    <li>작성글 1 입니다.</li>
                    <li>작성글 2 입니다.</li>
                    <li>작성글 3 입니다.</li>
                    <li>작성글 4 입니다.</li>
                </ul>
            </div>
            <div class="grid-section">
                <h2>학점 계산</h2>
                <ul>
                    <li>작성글 1 입니다.</li>
                    <li>작성글 2 입니다.</li>
                    <li>작성글 3 입니다.</li>
                    <li>작성글 4 입니다.</li>
                </ul>
            </div>
        </div>
    </main>

    <button type="button" class="floating-button" aria-label="Chat Assistant">
        <img src="/image/robot.png" alt="Robot Assistant">
    </button>
</body>

</html>