<th:block th:fragment="nav" xmlns:sec="http://www.w3.org/1999/xhtml">
<header>
  <nav class="navbar">

      <form action="/home" method="get">
        <button type="submit" class="logo" style="background: none; border: none;">
          <img src="/image/logo.png" alt="Echo Logo">
        </button>
      </form>

    <div class="nav-items">
      <form action="/question" method="get" style="display: inline;">
        <button type="submit">고민상담</button>
      </form>
      <form action="/chatbot" method="get" style="display: inline;">
        <button type="submit">정보 알리미</button>
      </form>
      <form action="/roommate" method="get" style="display: inline;">
        <button type="submit">룸메이트 찾기</button>
      </form>
    </div>
    <div class="search-login">
      <input type="search" placeholder="검색">

      <a sec:authorize="isAnonymous()" th:href="@{/member/login}" class="login-btn" style="text-decoration: none;">로그인</a>
      <a sec:authorize="isAuthenticated()" th:href="@{/member/logout}" class="login-btn" style="text-decoration: none;">로그아웃</a>


      <form action="/signup" method="get">
      <button class="signup-btn" >회원가입</button></form>
    </div>
  </nav>
</header>
</th:block>
