<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>핀디</title>
    <link rel="stylesheet" href="/css/register.css">
    <link rel="stylesheet" href="/css/nav.css">
</head>
<body>
<div th:replace="~{nav::nav}"></div>
    <main>
        <div class="register-container">
            <div class="register-content">
                <form th:action="@{/member/register}" th:object="${memberForm}" method="post" class="register-form">
                    <div class="input-group">
                        <label>아이디</label>
                        <input name="id" type="text" required>
                    </div>
                    <div class="input-group">
                        <label>비밀번호</label>
                        <input name="password" type="password" required>
                    </div>
                    <div class="input-group">
                        <label>비밀번호 확인</label>
                        <input name="password2" type="password" required>
                    </div>
                    <div class="input-group">
                        <label>별명</label>
                        <input name="username" type="text" required>
                    </div>
                    <div class="input-group">
                        <label>직업</label>
                        <div class="radio-group">
                            <label>
                                <input type="radio" name="job" value="대학생">
                                대학생
                            </label>
                            <label>
                                <input  type="radio" name="job" value="졸업생">
                                졸업생
                            </label>
                        </div>
                    </div>
                    <div class="input-group expert-auth" style="display: none;">  <!-- 전문가 선택시 보이도록 -->
                        <label>인증문서</label>
                        <div class="file-upload">
                            <input name="img" type="file" id="fileInput" accept=".pdf,.doc,.docx,.jpg,.jpeg,.png" required>
                            <button type="button" class="upload-btn">첨부</button>
                        </div>
                    </div>
                    <button type="submit" class="register-submit-btn">확인</button>
                </form>
            </div>
        </div>
    </main>
    <script src="/js/register.js"></script>
</body>
</html>