<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>핀디</title>
    <link rel="stylesheet" href="css/term.css">
    <link rel="stylesheet" href="css/nav.css">
</head>
<body>
<div th:replace="~{nav}"></div>
    <main>
        <div class="term-container">
            <div class="term-content">
                <img src="image/logo.png" alt="Echo Logo" class="term-logo">
                <div class="term-box">
                    <h2>[커뮤니티 사이트] 이용약관</h2>
                    <div class="term-section">
                        <h3>제 1 조 (목적)</h3>
                        <p>이 약관은 사이트 이용자 제공하는 모든 서비스(이하 '서비스')의 이용과 관련하여, 사이트와 이용자의 권리, 의무 및 책임 사항을 규정함을 목적으로 합니다.</p>
                    </div>
                    <div class="term-section">
                        <h3>제 2 조 (용어의 정의)</h3>
                        <ol>
                            <li>'이용자'란 사이트에 접속하여 본 약관에 따라 사이트가 제공하는 서비스를 이용하는 회원 및 비회원을 말합니다.</li>
                            <li>'회원'이란 사이트에 개인정보를 제공하여 회원등록을 한 자로서, 사이트가 제공하는 정보를 지속적으로 제공받으며, 서비스를 계속 이용할 수 있는 자를 말합니다.</li>
                            <li>'비회원'이란 회원으로 가입하지 않고 사이트가 제공하는 서비스를 이용하는 자를 말합니다.</li>
                        </ol>
                    </div>
                    <div class="term-section">
                        <h3>제 3 조 (약관의 효력 및 변경)</h3>
                        <ol>
                            <li>본 약관은 회원가입 시 이용자가 동의함으로써 효력이 발생합니다.</li>
                            <li>사이트는 필요한 경우 관련 법령을 위반하지 않는 범위 내에서 약관을 변경할 수 있으며, 변경된 약관은 사전에 공지합니다.</li>
                            <li>회원은 변경된 약관에 동의하지 않을 경우가 있으며, 동의하지 않을 시 서비스 이용이 제한될 수 있습니다.</li>
                        </ol>
                    </div>
                </div>
                <form action="/member/register" method="get">
                <button class="confirm-btn">확인</button>
                </form>
            </div>
        </div>
    </main>
</body>
</html>